[submodule "jubench-stream-gpu"]
	path = jubench-stream-gpu
	url = https://github.com/FZJ-JSC/jubench-stream-gpu.git
[submodule "jubench-arbor"]
	path = jubench-arbor
	url = https://github.com/FZJ-JSC/jubench-arbor.git
[submodule "jubench-amber"]
	path = jubench-amber
	url = https://github.com/FZJ-JSC/jubench-amber
[submodule "jubench-chroma-qcd"]
	path = jubench-chroma-qcd
	url = https://github.com/FZJ-JSC/jubench-chroma-qcd
[submodule "jubench-dynqcd"]
	path = jubench-dynqcd
	url = https://github.com/FZJ-JSC/jubench-dynqcd
[submodule "jubench-gromacs"]
	path = jubench-gromacs
	url = https://github.com/FZJ-JSC/jubench-gromacs
[submodule "jubench-icon"]
	path = jubench-icon
	url = https://github.com/FZJ-JSC/jubench-icon
[submodule "jubench-juqcs"]
	path = jubench-juqcs
	url = https://github.com/FZJ-JSC/jubench-juqcs
[submodule "jubench-megatron-lm"]
	path = jubench-megatron-lm
	url = https://github.com/FZJ-JSC/jubench-megatron-lm
[submodule "jubench-mmoclip"]
	path = jubench-mmoclip
	url = https://github.com/FZJ-JSC/jubench-mmoclip
[submodule "jubench-nekrs"]
	path = jubench-nekrs
	url = https://github.com/FZJ-JSC/jubench-nekrs
[submodule "jubench-parflow"]
	path = jubench-parflow
	url = https://github.com/FZJ-JSC/jubench-parflow
[submodule "jubench-picongpu"]
	path = jubench-picongpu
	url = https://github.com/FZJ-JSC/jubench-picongpu
[submodule "jubench-qe"]
	path = jubench-qe
	url = https://github.com/FZJ-JSC/jubench-qe
